{% extends 'layout.html' %}


{% block body %}
    
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
    <section class="main-2">
    <div class="titulo" class="pie"> 
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none"><a/>
        <label href="/" class="navbar-brand" ><img  src="/static/images/logo.png" id='logo_navi'></label>
        <label><h1 style="text-align:center">Bienvenidos!!!</h1>
        <h1 style="text-align:center">Ferreteria Casa Franco</h1></label>
    </div>
    <a><h2 style="text-align:center">Sistema de Control de Stock</h2></a>
    </section>
    
    
    </header>

    <section class="main-3">
        <div class="titulo" class="pie"> 
            <h2 style="text-align:center">mail: franco_matias@live.com.ar /// Tel.: +54 9 11 2376-8979</h2>
        </div>
    </section>
    <!--</div>-->
  </div>
</main>


    
</html>


{% endblock %}